html { 
  height: 100%; 
}

body {
  margin:0;

  height: 100%;
  background-image: url("http://iia.world/cs.png");
  background-size: contain;
  background-position: 50%;
  background-color:#faa540;
  background-repeat: no-repeat;
  cursor:pointer;
}
